*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: rgb(255, 255, 255);
    height: 85px;
}

/* LOGO */
.logo{
    vertical-align: middle;
    width: 85px;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
}

/* TITOLO */
h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
    font-family: 'Onest', sans-serif;
}

/* MAIN */

/* BACKGROUND-GENERALE */
.generale{
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 700px;
    padding-top: 60px;
}

/* BACKGROUND-WHITE */
.container{
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 630px;
    margin: auto;
    border: 5px solid rgb(232, 232, 232);
    border-radius: 10px;
}

/* BUTTONS */
.button{
    border: 5px solid rgb(232, 232, 232);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: -5px;
}

.button-1{
    background-color: rgb(70, 184, 255);
    border: 1.5px solid rgb(0, 157, 255);
    border-radius: 5px;
    color: white;
    padding: 7px 15px;
    font-size: 14px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.button-2{
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(195, 195, 195);
    border-radius: 5px;
    color: rgb(195, 195, 195);
    padding: 7px 15px;
    font-size: 14px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

/* LISTA */
.lista{
    padding-left: 75px;
    padding-top: 40px;
    font-family: 'Onest', sans-serif;
}

.sotto-lista-1{
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
    color: rgb(90, 90, 90);
    word-spacing: 2px;
}

.sotto-lista-2{
    font-size: 19px;
    padding-left: 10px;
    color: rgb(114, 114, 114);
    line-height: 35px;
    word-spacing: 2px;
}

/* SCRITTE-COLORATE */
.blue-span{
    background-color: rgb(70, 184, 255);
    border: 1.5px solid rgb(0, 183, 255);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.violet-span{
    background-color: rgb(176, 65, 255);
    border: 1.5px solid rgb(171, 45, 255);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.lightgreen-span{
    background-color: rgba(0, 186, 112, 0.792);
    border: 1.5px solid rgb(0, 211, 98);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.orange-span{
    background-color: rgb(255, 157, 37);
    border: 1.5px solid rgb(249, 173, 21);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.green-span{
    background-color: rgb(53, 204, 3);
    border: 1.5px solid rgb(69, 214, 7);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}

.pink-span{
    background-color: rgba(255, 37, 182, 0.84);
    border: 1.5px solid rgba(249, 21, 177, 0.681);
    border-radius: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-family: 'Onest', sans-serif;
}